<!-- jQuery accordion -->

<div class="accordion">
    <h5><i class="icon-plus-sign"></i>Heading title</h5>

    <div>
        <p>
            Your text
        </p>
    </div>

    <h5><i class="icon-plus-sign"></i>Heading title</h5>

    <div>
        <p>
            Your text
        </p>
    </div>

    <h5><i class="icon-plus-sign"></i>Heading title</h5>

    <div>
        <p>
            Your text
        </p>
    </div>
</div>