<!-- Basic carousel -->

<div class="basic-carousel">
    <div class="carousel-bar clearfix">
        <h4>Portfolio Carousel</h4>

        <div class="carousel-navigation">
            <div class="stylish-button">
                <a class="prev" href="#"><i class="icon-angle-left"></i></a>
            </div>

            <div class="stylish-button">
                <a class="next" href="#"><i class="icon-angle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row portfolio">
        <div class="carousel-images-wrapper">
            <div class="carousel-images">
                <div class="span3 portfolio-image">
                    <div class="thumbnail">
                        <img src="images/blog-thumbnail02.png" alt="post image" />

                        <div class="portfolio-hover">
                            <a href="#">
                                <div class="portfolio-hover-text">
                                    <h3>best cooler</h3>
                                    <p><i class="icon-folder-open"></i>motion graphics</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span3 portfolio-image">
                    <div class="thumbnail">
                        <img src="images/blog-thumbnail02.png" alt="post image" />

                        <div class="portfolio-hover">
                            <a href="#">
                                <div class="portfolio-hover-text">
                                    <h3>best cooler</h3>
                                    <p><i class="icon-folder-open"></i>motion graphics</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span3 portfolio-image">
                    <div class="thumbnail">
                        <img src="images/blog-thumbnail02.png" alt="post image" />

                        <div class="portfolio-hover">
                            <a href="#">
                                <div class="portfolio-hover-text">
                                    <h3>best cooler</h3>
                                    <p><i class="icon-folder-open"></i>motion graphics</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span3 portfolio-image">
                    <div class="thumbnail">
                        <img src="images/blog-thumbnail02.png" alt="post image" />

                        <div class="portfolio-hover">
                            <a href="#">
                                <div class="portfolio-hover-text">
                                    <h3>best cooler</h3>
                                    <p><i class="icon-folder-open"></i>motion graphics</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span3 portfolio-image">
                    <div class="thumbnail">
                        <img src="images/blog-thumbnail02.png" alt="post image" />

                        <div class="portfolio-hover">
                            <a href="#">
                                <div class="portfolio-hover-text">
                                    <h3>best cooler</h3>
                                    <p><i class="icon-folder-open"></i>motion graphics</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span3 portfolio-image">
                    <div class="thumbnail">
                        <img src="images/blog-thumbnail02.png" alt="post image" />

                        <div class="portfolio-hover">
                            <a href="#">
                                <div class="portfolio-hover-text">
                                    <h3>best cooler</h3>
                                    <p><i class="icon-folder-open"></i>motion graphics</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span3 portfolio-image">
                    <div class="thumbnail">
                        <img src="images/blog-thumbnail02.png" alt="post image" />

                        <div class="portfolio-hover">
                            <a href="#">
                                <div class="portfolio-hover-text">
                                    <h3>best cooler</h3>
                                    <p><i class="icon-folder-open"></i>motion graphics</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>