<!-- Breadcrumbs -->

<div id="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">

                    <li><a href="index.php">path</a><span class="divider">/</span></li>

                    <li><p>path</p><span class="divider">/</span></li>

                    <li><p>path</p></li>

                </ul>
            </div>

            <div class="span4"></div>
        </div>
    </div>
</div>