<!-- Carousel with description -->

<div class="carousel-with-description">
    <div class="row fadeDown">
        <div class="carousel-description span3">
            <h4>Lorem Ipsum Dolor</h4>
            <br/>
            <p>Roin facilisis varius nunc. Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh.
                Fusce convallis sapien placerat tellus suscipit vehicula.
            </p>

            <a href="#">View All >> </a>

            <div class="carousel-navigation">
                <div class="stylish-button">
                    <a class="prev" href="#"><i class="icon-angle-left"></i></a>
                </div>

                <div class="stylish-button">
                    <a class="next" href="#"><i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="carousel-images-wrapper">
            <div class="row">
                <div class="carousel-images">
                    <div class="span3">
                        <div class="thumbnail brand-image">
                            <img src="images/brand03.png" alt="brand-image" />
                        </div>
                    </div>
                    <div class="span3">
                        <div class="thumbnail brand-image">
                            <img src="images/brand01.png" alt="brand-image" />
                        </div>
                    </div>
                    <div class="span3">
                        <div class="thumbnail brand-image">
                            <img src="images/brand02.png" alt="brand-image" />
                        </div>
                    </div>
                    <div class="span3">
                        <div class="thumbnail brand-image">
                            <img src="images/brand02.png" alt="brand-image" />
                        </div>
                    </div>
                    <div class="span3">
                        <div class="thumbnail brand-image">
                            <img src="images/brand02.png" alt="brand-image" />
                        </div>
                    </div>
                    <div class="span3">
                        <div class="thumbnail brand-image">
                            <img src="images/brand02.png" alt="brand-image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>