<!-- Latest Posts-->

<div class="latest-posts">
    <h4>Latest Posts</h4>
    <div class="posts">
        <div class="row">
            <div class="span6">
                <div class="post">
                    <div class="row">
                        <div class="span3 latest-post-media">
                            <div class="thumbnail post-media">
                                <img src="images/blog-thumbnail02.png" alt="post image" />

                                <div class="thumbnail-hover">
                                    <a href="images/pop-up.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="span3 latest-post-content">
                            <div class="post-content">
                                <div class="post-title">
                                    <h3><i class="icon-camera post-title-icon"></i>Never Give Up</h3>
                                </div>

                                <div class="post-info clearfix">
                                    <div class="post-date">
                                        <i class="icon-calendar"></i>
                                        <p>Nov 10, 2012</p>
                                    </div>

                                    <div class="post-category">
                                        <i class="icon-pencil"></i>
                                        <a href="#">Design</a>
                                    </div>

                                    <div class="post-comments">
                                        <i class="icon-comments"></i>
                                        <a href="#">(3)</a>
                                    </div>
                                </div>

                                <div style="clear: both"></div>

                                <div class="post-excerpt">
                                    <p>
                                        Donec magna nunc, vestibulum
                                        at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                                    </p>
                                </div>

                                <div class="stylish-button">
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span6 latest-post">
                <div class="post">
                    <div class="row">
                        <div class="span3 latest-post-media">
                            <div class="thumbnail post-media">
                                <img src="images/blog-thumbnail03.png" alt="post image" />

                                <div class="thumbnail-hover">
                                    <a href="images/pop-up.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="span3 latest-post-content">
                            <div class="post-content">
                                <div class="post-title">
                                    <h3><i class="icon-camera post-title-icon"></i>Perfect Business</h3>
                                </div>

                                <div class="post-info clearfix">
                                    <div class="post-date">
                                        <i class="icon-calendar"></i>
                                        <p>Nov 10, 2012</p>
                                    </div>

                                    <div class="post-category">
                                        <i class="icon-pencil"></i>
                                        <a href="#">Design</a>
                                    </div>

                                    <div class="post-comments">
                                        <i class="icon-comments"></i>
                                        <a href="#">(3)</a>
                                    </div>
                                </div>

                                <div style="clear: both"></div>

                                <div class="post-excerpt">
                                    <p>
                                        Donec magna nunc, vestibulum
                                        at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                                    </p>
                                </div>

                                <div class="stylish-button">
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span6 latest-post">
                <div class="post">
                    <div class="row">
                        <div class="span3">
                            <div class="thumbnail post-media">
                                <img src="images/blog-thumbnail.png" alt="post image" />

                                <div class="thumbnail-hover">
                                    <a href="images/pop-up.png"></a>
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="post-content">
                                <div class="post-title">
                                    <h3><i class="icon-camera post-title-icon"></i>Emotional State</h3>
                                </div>

                                <div class="post-info clearfix">
                                    <div class="post-date">
                                        <i class="icon-calendar"></i>
                                        <p>Nov 10, 2012</p>
                                    </div>

                                    <div class="post-category">
                                        <i class="icon-pencil"></i>
                                        <a href="#">Design</a>
                                    </div>

                                    <div class="post-comments">
                                        <i class="icon-comments"></i>
                                        <a href="#">(3)</a>
                                    </div>
                                </div>

                                <div style="clear: both"></div>

                                <div class="post-excerpt">
                                    <p>
                                        Donec magna nunc, vestibulum
                                        at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                                    </p>
                                </div>

                                <div class="stylish-button">
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>