<!-- Members-->

<div class="members-wrapper">
    <div class="row">
        <div class="span3">
            <div class="member fadeDown">
                <div class="member-photo thumbnail">
                    <img src="images/member-photo1.png" alt="member image" />

                    <div class="thumbnail-hover">
                        <a href="images/pop-up.png.png"></a>
                    </div>
                </div>

                <div class="member-info">
                    <div class="member-role">
                        <p class="member-name">antonio rodric</p>
                        <p>Founder & Partner</p>
                    </div>

                    <div class="member-bio">
                        <p>
                            Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
                        </p>
                    </div>

                    <div class="member-social-icons clearfix">
                        <a href="#" class="facebook-icon social-icon"><i class="icon-facebook"></i></a>
                        <a href="#" class="twitter-icon social-icon"><i class="icon-twitter"></i></a>
                        <a href="#" class="dribble-icon social-icon"><i class="icon-dribbble"></i></a>
                        <a href="#" class="pinterest-icon social-icon"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="member fadeDown">
                <div class="member-photo thumbnail">
                    <img src="images/member-photo2.png" alt="member image" />

                    <div class="thumbnail-hover">
                        <a href="images/pop-up.png"></a>
                    </div>
                </div>

                <div class="member-info">
                    <div class="member-role">
                        <p class="member-name">robertta dima</p>
                        <p>Graphic Designer</p>
                    </div>

                    <div class="member-bio">
                        <p>
                            Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
                        </p>
                    </div>

                    <div class="member-social-icons clearfix">
                        <a href="#" class="facebook-icon social-icon"><i class="icon-facebook"></i></a>
                        <a href="#" class="twitter-icon social-icon"><i class="icon-twitter"></i></a>
                        <a href="#" class="dribble-icon social-icon"><i class="icon-dribbble"></i></a>
                        <a href="#" class="pinterest-icon social-icon"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="member fadeDown">
                <div class="member-photo thumbnail">
                    <img src="images/member-photo3.png" alt="member image" />

                    <div class="thumbnail-hover">
                        <a href="images/pop-up.png"></a>
                    </div>
                </div>

                <div class="member-info">
                    <div class="member-role">
                        <p class="member-name">eugeniusz cristoph</p>
                        <p>Project Manager</p>
                    </div>

                    <div class="member-bio">
                        <p>
                            Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
                        </p>
                    </div>

                    <div class="member-social-icons clearfix">
                        <a href="#" class="facebook-icon social-icon"><i class="icon-facebook"></i></a>
                        <a href="#" class="twitter-icon social-icon"><i class="icon-twitter"></i></a>
                        <a href="#" class="dribble-icon social-icon"><i class="icon-dribbble"></i></a>
                        <a href="#" class="pinterest-icon social-icon"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="span3">
            <div class="member fadeDown">
                <div class="member-photo thumbnail">
                    <img src="images/member-photo4.png" alt="member image" />

                    <div class="thumbnail-hover">
                        <a href="images/pop-up.png"></a>
                    </div>
                </div>

                <div class="member-info">
                    <div class="member-role">
                        <p class="member-name">kathz sophia</p>
                        <p>Programmer</p>
                    </div>

                    <div class="member-bio">
                        <p>
                            Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
                        </p>
                    </div>

                    <div class="member-social-icons clearfix">
                        <a href="#" class="facebook-icon social-icon"><i class="icon-facebook"></i></a>
                        <a href="#" class="twitter-icon social-icon"><i class="icon-twitter"></i></a>
                        <a href="#" class="dribble-icon social-icon"><i class="icon-dribbble"></i></a>
                        <a href="#" class="pinterest-icon social-icon"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>