<!-- Message Boxes-->

<!-- Warning message box -->
<div class="message-box warning-message-box clearfix">
    <div class="message-icon-box">
        <i class="icon-exclamation"></i>
    </div>

    <div class="message-container">
        <p>Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
            Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo.
        </p>
    </div>
</div>

<!-- Info message box -->
<div class="message-box info-message-box clearfix">
    <div class="message-icon-box">
        <i class="icon-info"></i>
    </div>

    <div class="message-container">
        <p>Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
            Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo.
        </p>
    </div>
</div>

<!-- Ok message box -->
<div class="message-box ok-message-box clearfix">
    <div class="message-icon-box">
        <i class="icon-ok"></i>
    </div>

    <div class="message-container">
        <p>Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
            Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo.
        </p>
    </div>
</div>

<!-- Question message box -->
<div class="message-box question-message-box clearfix">
    <div class="message-icon-box">
        <i class="icon-question"></i>
    </div>

    <div class="message-container">
        <p>Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem.
            Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo.
        </p>
    </div>
</div>