<!-- Photo Gallery-->

<div id="carousel" class="carousel slide fadeLeft">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="images/carousel-img.png" alt="gallery image" />
        </div>
        <div class="item">
            <img src="images/carousel-img.png" alt="gallery image" />
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="carousel-control right" href="#carousel" data-slide="next"><i class="icon-angle-right"></i></a>
</div>