<!-- Pricing Tables-->

<div class="pricing-tables-wrapper clearfix">
    <div class="pricing-table">
        <div class="pricing-table-header">
            <div class="upper-header">
                <h4>single license</h4>
            </div>

            <div class="lower-header">
                <p class="pricing-table-price">$59</p>
                <p>One Time Free</p>
            </div>
        </div>

        <div class="pricing-table-content">
            <div class="table-row odd"><p>5 Websites Cap</p></div>
            <div class="table-row even"><p>1TB Bandwidth Cap</p></div>
            <div class="table-row odd"><p>60GB Space Storage</p></div>
            <div class="table-row even"><p>Domain Name Included</p></div>
            <div class="table-row odd"><p>----</p></div>
            <div class="table-row even"><p>----</p></div>

            <div class="pricing-table-footer">
                <div class="stylish-button">
                    <a href="#">sign up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing-table">
        <div class="pricing-table-header">
            <div class="upper-header">
                <h4>developer license</h4>
            </div>

            <div class="lower-header">
                <p class="pricing-table-price">$79</p>
                <p>One Time Free</p>
            </div>
        </div>

        <div class="pricing-table-content">
            <div class="table-row odd"><p>10 Websites Cap</p></div>
            <div class="table-row even"><p>5TB Bandwidth Cap</p></div>
            <div class="table-row odd"><p>80GB Space Storage</p></div>
            <div class="table-row even"><p>Domain Name Included</p></div>
            <div class="table-row odd"><p>24/7 Ultimate Support</p></div>
            <div class="table-row even"><p>----</p></div>


            <div class="pricing-table-footer">
                <div class="stylish-button">
                    <a href="#">sign up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing-table highlighted-table">
        <div class="pricing-table-header">
            <div class="upper-header">
                <h4>premium club</h4>
            </div>

            <div class="lower-header">
                <p class="pricing-table-price">$299</p>
                <p>Plus Monthly Free</p>
            </div>
        </div>

        <div class="pricing-table-content">
            <div class="table-row odd"><p>15 Websites Cap</p></div>
            <div class="table-row even"><p>10TB Bandwidth Cap</p></div>
            <div class="table-row odd"><p>160GB Space Storage</p></div>
            <div class="table-row even"><p>Domain Name Included</p></div>
            <div class="table-row odd"><p>24/7 Ultimate Support</p></div>
            <div class="table-row even"><p>Custom Email</p></div>

            <div class="pricing-table-footer">
                <div class="stylish-button">
                    <a href="#">sign up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing-table last">
        <div class="pricing-table-header">
            <div class="upper-header">
                <h4>theme club</h4>
            </div>

            <div class="lower-header">
                <p class="pricing-table-price">$199</p>
                <p>Plus Monthly Free</p>
            </div>
        </div>

        <div class="pricing-table-content">
            <div class="table-row odd"><p>15 Websites Cap</p></div>
            <div class="table-row even"><p>51TB Bandwidth Cap</p></div>
            <div class="table-row odd"><p>120GB Space Storage</p></div>
            <div class="table-row even"><p>Domain Name Included</p></div>
            <div class="table-row odd"><p>24/7 Ultimate Support</p></div>
            <div class="table-row even"><p>----</p></div>

            <div class="pricing-table-footer">
                <div class="stylish-button">
                    <a href="#">sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>