<!-- Revolution Slider -->

<div class="rev-slider-wrapper">
    <div class="rev-slider">
        <ul class="unstyled">
            <li data-transition="slideup" data-slotamount="1">
                <img src="images/slide-bg-1.png" alt="slide background" />
                <div class="caption lfl image-caption" data-x="center" data-y="center" data-hoffset="-300" data-voffset="130" data-speed="700" data-start="1000" data-easing="easeOutBack"><img src="images/slide-image-1.png" alt="slide image" /></div>
                <div class="caption lfr black-medium" data-x="center" data-y="center" data-hoffset="160" data-voffset="100" data-speed="700" data-start="1700" data-easing="easeOutBack">Hope to Enjoy</div>
                <div class="caption lfr orange-big" data-x="center" data-y="center" data-hoffset="280" data-voffset="190" data-speed="700" data-start="1900" data-easing="easeOutBack">Our Creative</div>
                <div class="caption lfr black-small" data-x="center" data-y="center" data-hoffset="437" data-voffset="265" data-speed="500" data-start="2100" data-easing="easeOutBack">Ideas & Concepts</div>
            </li>

            <li data-transition="slideright" data-slotamount="1">
                <img src="images/slide-bg-2.png" alt="slider-image" />
                <div class="caption lfr image-caption" data-x="right" data-y="center" data-hoffset="15" data-voffset="310" data-speed="700" data-start="1000" data-easing="easeOutBack"><img src="images/slide-image-2.png" alt="slide image" /></div>
                <div class="caption lft image-caption" data-x="right" data-y="center" data-hoffset="115" data-voffset="200" data-speed="700" data-start="1700" data-easing="easeOutBounce"><img src="images/slide-image-3.png" alt="slide image" /></div>
                <div class="caption lfl black-medium" data-x="left" data-y="center" data-hoffset="-120" data-voffset="100" data-speed="700" data-start="2500" data-easing="easeOutBack">Responsive &</div>
                <div class="caption lfl green-big" data-x="left" data-y="center" data-hoffset="-122" data-voffset="170" data-speed="700" data-start="2700" data-easing="easeOutBack">Retina Display</div>
                <div class="caption lfl black-small" data-x="left" data-y="center" data-hoffset="137" data-voffset="240" data-speed="500" data-start="2900" data-easing="easeOutBack">Design Concept</div>
            </li>

            <li data-transition="slideleft" data-slotamount="1">
                <img src="images/slide-bg-3.png" alt="slider-image" />
                <div class="caption lft image-caption" data-x="left" data-y="center" data-hoffset="-115" data-voffset="200" data-speed="700" data-start="1000" data-easing="easeOutBack"><img src="images/slide-image-4.png" alt="slide image" /></div>
                <div class="caption lfr black-medium" data-x="right" data-y="center" data-hoffset="-205" data-voffset="100" data-speed="700" data-start="1700" data-easing="easeOutBack">Metro Inspired</div>
                <div class="caption lfr violet-big" data-x="right" data-y="center" data-hoffset="123" data-voffset="180" data-speed="700" data-start="1900" data-easing="easeOutBack">Theme Design</div>
                <div class="caption lfr black-small" data-x="right" data-y="center" data-hoffset="116" data-voffset="260" data-speed="500" data-start="2100" data-easing="easeOutBack">Ideas & Concepts</div>
            </li>

            <li data-transition="slidedown" data-slotamount="1">
                <img src="images/slide-bg-4.png" alt="slider-image" />
                <div class="caption lfb video-caption" data-x="right" data-y="center" data-hoffset="120" data-voffset="230" data-speed="700" data-start="1000" data-easing="easeOutBack">
                    <img src="images/slide-image-5.png" alt="slider-image" />
                    <iframe src="http://player.vimeo.com/video/29298709?title=0&amp;byline=0&amp;portrait=0;api=1" width="384" height="240"></iframe>
                </div>
                <div class="caption lfl black-medium" data-x="left" data-y="center" data-hoffset="-120" data-voffset="100" data-speed="700" data-start="2500" data-easing="easeOutBack">Revolution</div>
                <div class="caption lfl blue-big" data-x="left" data-y="center" data-hoffset="-116" data-voffset="180" data-speed="700" data-start="2700" data-easing="easeOutBack">Video Slide</div>
                <div class="caption lfl black-small" data-x="left" data-y="center" data-hoffset="142" data-voffset="260" data-speed="500" data-start="2900" data-easing="easeOutBack">Ideas & Concepts</div>
            </li>
        </ul>
    </div>
</div>