<!-- Services -->

<div class="service-boxes-wrapper clearfix">
    <div class="service-box-container">
        <div class="service-box service-box-1 clearfix">
            <div class="service-box-front">
                <i class="icon-umbrella"></i>

                <div class="service-title">
                    <p>seo optimizing</p>
                </div>

                <div class="service-content">
                    <p>Cras auctor vel dui sed rhoncus.<br /> Sed urna ut purus vulputate ultricies.<br /> Quisque congue volutpat lorem</p>
                </div>
            </div>

            <div class="service-box-back">
                <a href="#"></a>
            </div>
        </div>
    </div>

    <div class="service-box-container">
        <div class="service-box service-box-2">
            <div class="service-box-front">
                <i class="icon-trophy"></i>

                <div class="service-title">
                    <p>software support</p>
                </div>

                <div class="service-content">
                    <p>Cras auctor vel dui sed rhoncus.<br /> Sed urna ut purus vulputate ultricies.<br /> Quisque congue volutpat lorem</p>
                </div>
            </div>

            <div class="service-box-back">
                <a href="#"></a>
            </div>
        </div>
    </div>

    <div class="service-box-container">
        <div class="service-box service-box-3">
            <div class="service-box-front">
                <i class="icon-globe"></i>

                <div class="service-title">
                    <p>concept design</p>
                </div>

                <div class="service-content">
                    <p>Cras auctor vel dui sed rhoncus.<br /> Sed urna ut purus vulputate ultricies.<br /> Quisque congue volutpat lorem</p>
                </div>
            </div>

            <div class="service-box-back">
                <a href="#"></a>
            </div>
        </div>
    </div>

    <div class="service-box-container">
        <div class="service-box service-box-4">
            <div class="service-box-front">
                <i class="icon-android"></i>

                <div class="service-title">
                    <p>user management</p>
                </div>

                <div class="service-content">
                    <p>Cras auctor vel dui sed rhoncus.<br /> Sed urna ut purus vulputate ultricies.<br /> Quisque congue volutpat lorem</p>
                </div>
            </div>

            <div class="service-box-back">
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>