<!-- Sidebar -->

<div class="span3">
    <div class="sidebar">
        <div class="row">
            <div class="blog-categories-widget widget">
                <h5>Blog Categories</h5>

                <div class="dotted-separator"></div>

                <div class="blog-category">
                    <i class="icon-angle-right"></i>
                    <p>Art Concept</p>
                </div>

                <div class="dotted-separator"></div>

                <div class="blog-category">
                    <i class="icon-angle-right"></i>
                    <p>Web Design</p>
                </div>

                <div class="dotted-separator"></div>

                <div class="blog-category">
                    <i class="icon-angle-right"></i>
                    <p>Best Practices</p>
                </div>

                <div class="dotted-separator"></div>

                <div class="blog-category">
                    <i class="icon-angle-right"></i>
                    <p>Performance</p>
                </div>

                <div class="dotted-separator"></div>

                <div class="blog-category">
                    <i class="icon-angle-right"></i>
                    <p>Responsive Design</p>
                </div>

                <div class="dotted-separator"></div>

                <div class="blog-category">
                    <i class="icon-angle-right"></i>
                    <p>Typography</p>
                </div>

                <div class="dotted-separator"></div>
            </div>

            <div class="text-widget widget">
                <h5>Text Widget</h5>

                <div class="dotted-separator"></div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna nunc, vestibulum
                    at erat ac, mollis varius nunc. Maecenas nec hendrerit nunc. Integer interdum neque lorem, eget mattis dui vehicula at.
                    Nulla consectetur tempus eros at scelerisque. Donec condimentum ligula et odio dignissim iaculis. Nulla facilisi.
                    Donec et iaculis nisl.
                </p>

                <div class="dotted-separator"></div>
            </div>

            <div class="tabs-widget widget">
                <h5>Tabs</h5>

                <div class="dotted-separator"></div>

                <div class="tabs">
                    <ul class="nav nav-pills">
                        <li><a href="#tabs-1">First Tab</a></li>
                        <li><a href="#tabs-2">Second Tab</a></li>
                    </ul>

                    <div id="tabs-1">
                        <div class="media tab-row">
                            <a class="pull-left" href="#">
                                <img src="images/sidebar-thumbnail.png" alt="tab image" />
                            </a>

                            <div class="media-body">
                                <p class="tab-row-title">Felis lorem euismod felis, eu ornare leo nisi vel felis. </p>

                                <p class="tab-row-date">Nov 10, 2012</p>
                            </div>
                        </div>

                        <div class="media tab-row">
                            <a class="pull-left" href="#">
                                <img src="images/sidebar-thumbnail.png" alt="tab image" />
                            </a>

                            <div class="media-body">
                                <p class="tab-row-title">Felis lorem euismod felis, eu ornare leo nisi vel felis. </p>

                                <p class="tab-row-date">Nov 10, 2012</p>
                            </div>
                        </div>

                        <div class="media tab-row">
                            <a class="pull-left" href="#">
                                <img src="images/sidebar-thumbnail.png" alt="tab image" />
                            </a>

                            <div class="media-body">
                                <p class="tab-row-title">Felis lorem euismod felis, eu ornare leo nisi vel felis. </p>

                                <p class="tab-row-date">Nov 10, 2012</p>
                            </div>
                        </div>

                        <div class="media tab-row">
                            <a class="pull-left" href="#">
                                <img src="images/sidebar-thumbnail.png" alt="tab image" />
                            </a>

                            <div class="media-body">
                                <p class="tab-row-title">Felis lorem euismod felis, eu ornare leo nisi vel felis. </p>

                                <p class="tab-row-date">Nov 10, 2012</p>
                            </div>
                        </div>
                    </div>

                    <div id="tabs-2">
                        <p>Felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                        <p>Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
                    </div>
                </div>
            </div>

            <div class="flickr-widget widget">
                <h5>Flickr Widget</h5>

                <div class="dotted-separator"></div>

                <div class="flickr-images clearfix">
                    <div class="flickr-image">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>

                    <div class="flickr-image">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>

                    <div class="flickr-image">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>

                    <div class="flickr-image last-flickr-image">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>

                    <div class="flickr-image last-flickr-row">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>

                    <div class="flickr-image last-flickr-row">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>

                    <div class="flickr-image last-flickr-row">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>

                    <div class="flickr-image last-flickr-row last-flickr-image">
                        <img src="images/sidebar-thumbnail.png" alt="flickr image" />
                    </div>
                </div>

                <div class="dotted-separator"></div>
            </div>
        </div>
    </div>
</div>