<!-- Skill Bars -->

<div class="skill-bars-wrapper">
    <div class="skill-bar">
        <div class="skill-bar-header">
            <h5>web design 70%</h5>
        </div>
        <div class="skill-bar-fill" data-width="70"></div>
    </div>

    <div class="skill-bar">
        <div class="skill-bar-header">
            <h5>wordpress 55%</h5>
        </div>
        <div class="skill-bar-fill" data-width="55"></div>
    </div>

    <div class="skill-bar">
        <div class="skill-bar-header">
            <h5>html & css 65%</h5>
        </div>
        <div class="skill-bar-fill" data-width="65"></div>
    </div>
</div>