<!-- Testimonials -->

<div id="testimonials" class="page-element">
    <div class="container">
        <h3>WHAT PEOPLE ARE SAYING</h3>
        <p>The layouts adapts to the Screen Size of whatever device visitors are using. Nulla consequat</p>

        <div id="testimonial-content">
            <ul id="hidden-quotes">
                <li data-author="Quote&nbsp;Rotator">The animation can be in random or pre-defined in the HTML. Next quote animation will be all in fadeInDown. Optional click to next quote and hover to pause the slideshow.</li>
                <li data-author="Mark&nbsp;Twain">You will never be happy if you continue to search for what happiness consists of. You will never live if you are looking for the meaning of life.</li>
                <li data-author="Susan&nbsp;Rice">Progress is the product of human agency. Things get better because we make them better. Things go wrong when we get too comfortable, when we fail to take risks or seize opportunities. </li>
            </ul>

            <div class="quote">
                <blockquote>
                    <p class="quote-content"></p>
                </blockquote>

                <cite class="quote-author"></cite>
            </div>
        </div>
    </div>
</div>